bower_components
node_modules
npm-debug.log
.tmp
.idea
rishighan-angular.iml
aws.env
*.iml
.DS_Store
*.pem
*.p12
*.aes
*.docx
dist/*.svg
dist/*.ttf






# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
