<div class="row">
    <div class="col-md-10">
        <header>
            <div ng-if="autosaveStatus" class="full-circle"></div>
            <h2 class="pull-left">{{'admin.edit_posts.header' | translate}} {{post[0].title}}</h2>
        </header>

        <section>
            <form name="form" novalidate enctype="multipart/form-data">
                <formly-form model="post[0]" fields="postFormFields" form="form" class="admin">
                    <div dropzone="dropzoneConfig" class="well clearfix margin20">
                        <span class="clearfix">{{'admin.drag_and_drop.message' | translate }}</span>
                    </div>
                    <div class="margin20">
                        <button class="btn btn-danger" type="submit" ng-click="deletePost(post)"
                                ng-disabled="form.$invalid">
                            {{'admin.delete_post.button' | translate }}
                        </button>
                        <button class="btn btn-primary pull-right" type="submit" ng-click="updatePost(post)"
                                ng-disabled="form.$invalid || form.$pristine">{{'admin.save_changes.button' |translate}}
                        </button>
                        <button class="btn btn-default" type="submit" ng-click="updatePost(post, true)"
                                ng-if="!post[0].is_draft" ng-disabled="form.$invalid">
                            {{'admin.save_as_draft.button' | translate }}
                        </button>
                        <button class="btn btn-default" type="submit" ng-click="updatePost(post, false)"
                                ng-if="post[0].is_draft" ng-disabled="form.$invalid">
                            {{'admin.unmark_draft.button' | translate }}
                        </button>
                    </div>
                </formly-form>
            </form>
            <pre>{{post | json}}</pre>
            <script type="text/ng-template" id="ui-select-multiple.html">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <ui-select multiple tagging="to.tagTransform" tagging-tokens=";|,|/"
                                   data-ng-model="model[options.key]" data-disabled="{{to.disabled}}"
                                   class="{{options.templateOptions.className}}" theme="bootstrap">
                            <ui-select-match placeholder="{{to.placeholder}}" class="ui-select-match">
                                {{$item[to.labelProp]}}
                            </ui-select-match>
                            <ui-select-choices data-repeat="{{to.ngOptions}}" class="ui-select-choices">
                                <div ng-if="option.isTag"
                                     ng-bind-html="option[to.labelProp] + ' ' + '(add new)' | highlight: $select.search"></div>
                                <div ng-if="!option.isTag"
                                     ng-bind-html="option[to.labelProp] | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="error-messages.html">
                <formly-transclude></formly-transclude>
                <div class="my-messages" ng-messages="fc.$error" ng-if="fc.$touched">
                    <div class="some-message" ng-message="{{::name}}"
                         ng-repeat="(name, message) in ::options.validation.messages">
                        {{message(fc.$viewValue, fc.$modelValue, this)}}
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="textarea.tpl.html">
                <ul class="nav nav-tabs {{options.templateOptions.className}}">
                    <li class="active"><a href="#home" data-toggle="tab">{{options.templateOptions.label}}</a></li>
                    <li><a href="#md-preview" data-toggle="tab">Markdown Preview</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="home">
                        <div>
                                <textarea class="{{options.templateOptions.className}}"
                                          rows="{{options.templateOptions.rows}}"
                                          ng-model="model[options.key]"> </textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="md-preview">
                        <div class="{{options.templateOptions.className}} margin20">
                            <div markdown data="model[options.key]"></div>
                        </div>
                    </div>
                </div>
            </script>
        </section>
    </div>
</div>
