<ul class="navigation" ng-class="{vertical: 'vertical', horizontal: 'horizontal'}[nv.orientation]">
    <li ng-if="nv.isLogoPresent()">
        <div class="sprite sprite-logo"></div>
    </li>
    <li ng-repeat="item in nv.menuItems track by $index">
        <a href="{{item.link}}"
           class="nav-items"
           ui-sref="{{item.stateReference}}"
           analytics-on="click"
           analytics-event="Navigated to {{item.displayName}}"
           analytics-category="Navigation">{{item.displayName}}</a>
    </li>
    <li>
        <a ng-if="nv.isLoggedIn()" ng-click="nv.backupData()" class="nav-items">
            <span ng-if="!nv.backupRunning">{{'admin.database_backup.button' | translate }}</span>
            <span ng-if="nv.backupRunning">{{'admin.backup_in_progress.message' | translate }}</span>
        </a>
    </li>
    <li ng-if="nv.isLoggedIn()" class="nav-items">
        <span>
            <small>{{'admin.logged_in_as.status' | translate}} {{details.data.user}}</small>
        </span>
        <a ng-click="nv.logout()" class="alert-link">Logout</a>
    </li>
</ul>