<div class="row">
    <div class="col-md-10">
        <header>
            <h2>{{ 'admin.posts.header' | translate }}</h2>
        </header>
        <section class="row">
            <!--Posts -->
            <div class="col-sm-7">
                <input placeholder="{{'admin.search_posts.placeholder' | translate }}" ng-model="searchTerm"
                       ng-change="search(pagerDefaults.page, pagerDefaults.pageSize)" class="col-md-9"/>
            </div>
            <div class="col-md-4" cg-busy="{promise:statsPromise,message:'Fetching stats...'}">
                <h4>
                    <ng-pluralize count="stats.total"
                                  when="{'0': 'No posts found.', 'one': '{{stats.total}} post', 'other':'{{stats.total}} total posts'}"></ng-pluralize>
                </h4>
                <ng-pluralize count="stats.blogPosts"
                              when="{'0': 'No blog posts found.', 'one': '{{stats.blogPosts}} blog post', 'other': '{{stats.blogPosts}} blog posts'}"></ng-pluralize>
                ,
                <ng-pluralize count="stats.drafts"
                              when="{'0': 'No drafts found.', 'one': '{{stats.drafts}} draft', 'other': '{{stats.drafts}} drafts'}"></ng-pluralize>
            </div>
            <div paging
                 class="small col-md-12"
                 page="pagerDefaults.page"
                 page-size="pagerDefaults.pageSize"
                 total="posts.total"
                 paging-action="getMore(page, pageSize)">
            </div>
            <ul class="col-md-7" cg-busy="{promise:postsPromise,message:'Fetching posts...'}">
                <li ng-repeat="post in posts.docs track by $index">
                    <h3><a ui-sref="admin.edit({id: post._id})">{{post.title}}</a></h3>
                    <h4>{{post.excerpt}}</h4>
                    <div>
                        <small>{{post.date_created | date: "dd MMMM, yyyy" }}</small>
                    </div>
                    <span class="label label-default" ng-if="post.is_draft">Draft</span>
                    <span ng-repeat="tag in post.tags track by $index">
                            <span class="label label-info">{{tag.id}}</span>
                        </span>
                </li>
            </ul>

            <!--Trending posts-->
            <span class="col-md-5"
                  translate="{{ 'admin.analytics_zero_state.message' | translate }}"
                  ng-if="trendingPosts.length === 0"></span>
            <ul cg-busy="{promise:trendingPostsPromise,message:'Fetching analytics...'}" class="col-md-5">
                <li ng-repeat="post in trendingPosts track by $index">
                    <h3>{{::post.title}}</h3>
                    <span class="sparkline-graph">
                        <sparkline data="post.data" class="sparkline-item"></sparkline>
                        <span class="sparkline-item"><h5>{{post.totalPageViews}}</h5></span>
                    </span>
                </li>
            </ul>
        </section>
    </div>
</div>
