<navbar menu-items="navItems" orientation="horizontal"></navbar>
<div id="notification"></div>

<div class="container admin">
    <div class="row">
        <div class="col-md-10">
            <header>
                <h2>{{ 'admin.posts.header' | translate }}</h2>
            </header>
            <section class="row">
                <ul class="col-md-10">
                    <li ng-repeat="post in posts">
                        <h3><a ui-sref="edit({id: post._id})">{{post.title}}</a></h3>
                        <h4>{{post.excerpt}}</h4>
                        <div>
                            <small>{{post.date_created | date: "dd MMMM, yyyy" }}</small>
                        </div>
                        <span class="label label-default" ng-if="post.is_draft">Draft</span>
                        <span ng-repeat="tag in post.tags">
                            <span class="label label-info">{{tag.id}}</span>
                        </span>
                    </li>
                </ul>
            </section>
            <sparkline data="analyticsData" options="options"></sparkline>
            <pre>{{analyticsData | json}}</pre>
        </div>
    </div>
</div>