<navbar menu-items="navItems" orientation="horizontal"></navbar>
<div id="notification"></div>

<div class="container admin">
    <div class="row">
        <div class="col-md-10">
            <header>
                <h2>{{ 'admin.posts.header' | translate }}</h2>
            </header>
            <section class="row">
                <div class="col-md-8">
                    <input placeholder="{{'admin.search_posts.placeholder' | translate }}" ng-model="searchTerm"
                           ng-change="search(pagerDefaults.page, pagerDefaults.pageSize)" class="col-md-8"/>
                </div>
                <ul class="col-md-8">
                    <div paging
                         class="small"
                         page="pagerDefaults.page"
                         page-size="pagerDefaults.pageSize"
                         total="posts.total"
                         paging-action="getMore(page, pageSize)">
                    </div>


                    <li ng-repeat="post in posts.docs track by $index">
                        <h3><a ui-sref="edit({id: post._id})">{{post.title}}</a></h3>
                        <h4>{{post.excerpt}}</h4>
                        <div>
                            <small>{{post.date_created | date: "dd MMMM, yyyy" }}</small>
                        </div>
                        <span class="label label-default" ng-if="post.is_draft">Draft</span>
                        <span ng-repeat="tag in post.tags track by $index">
                            <span class="label label-info">{{tag.id}}</span>
                        </span>
                    </li>
                </ul>
            </section>
            <sparkline data="analyticsData" options="options"></sparkline>
            <pre>{{analyticsData | json}}</pre>
        </div>
    </div>
</div>