//Illustration Styles
.illustrations {
  margin: 10px 0 10px 0;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  width: 700px;
}

.artist-statement {
  margin: 10px 0;
}

.order-prints {
  border: 1px solid #CCC;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 3px;
  margin: 10px 0 15px 0;
}