<div class="dz-preview dz-file-preview" id="preview-container">
    <div class="dz-details">
        <img data-dz-thumbnail/>
        <div class="dz-filename">
            <small class="label label-info" data-dz-name></small>
        </div>
        <small class="dz-size" data-dz-size></small>
    </div>
    <label>
        Make Hero Image
        <input type="checkbox" class="hero-checkbox" ng-click="makeHero($event)">
    </label>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>
