<div class="hero col-md-12" cg-busy="{promise:postPromise,message:'Loading',backdrop:true}">
    <post kind="masthead" masthead-image="{{mastheadImage[0].name}}" post-data="heroPost"></post>
</div>
<div class="container">
    <jsonld data-json="hc.jsonLd"></jsonld>

    <div class="body row">
        <div class="col-md-2">
            <navbar menu-items="hc.navItems" orientation="vertical" logo="true"></navbar>
        </div>

        <div class="col-md-9 post-container">
            <div cg-busy="{promise:postPromise, message: 'Loading...', backdrop: true}">
                <div class="featured-posts">
                    <div ng-repeat="featuredPost in featuredPosts track by $index">
                        <a href="">{{::featuredPost.title}}</a>
                    </div>
                </div>
                <div ng-repeat="post in filteredPosts track by $index" class="post">
                    <div class="header-region">
                        <a ui-sref="single({slug: post.slug})"><h2>{{::post.title}}</h2></a>
                        <small class="published-date">{{::post.date_updated | date: "dd MMMM, yyyy" }}</small>
                    </div>
                    <div markdown data="post.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>