<div class="container">
    <jsonld data-json="hc.jsonId"></jsonld>
    <div class="hero" cg-busy="{promise:postPromise,message:'Loading',backdrop:true}">
        <post kind="masthead" masthead-image="{{mastheadImage[0].name}}" post-data="heroPost"></post>
    </div>
    <div class="body row">
        <div class="col-md-2">
            <navbar menu-items="hc.navItems" orientation="vertical"></navbar>
        </div>

        <div class="col-md-8 post-container">
            <div class="post" cg-busy="{promise:postPromise, message: 'Loading...', backdrop: true}">
                <div ng-repeat="post in filteredPosts track by $index">
                    <h2>{{::post.title}}</h2>
                    <small class="published-date">{{::post.date_updated | date: "dd MMMM, yyyy" }}</small>
                    <div markdown data="post.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>