<div class="app">
    <div class="container">
        <div class="body row">
            <div class="col-md-2">
                <navbar menu-items="ac.navItems" orientation="vertical" logo="true"></navbar>
            </div>

            <div ui-view></div>

            <footer class="col-md-6 col-md-offset-2">
                <span translate="{{'footer.copyright_symbol.fragment'}}"></span>
                {{'footer.copyright_years.fragment' | translate}} {{'colophon.author_name.fragment' | translate}}
            </footer>
        </div>
    </div>
</div>