<div>
    <masthead masthead-image="{{mastheadImage[0].url}}"
              masthead-title="{{heroPost[0].title}}"
              illustration-slug="{{heroPost[0].slug}}">
    </masthead>
</div>
<jsonld data-json="hc.jsonLd"></jsonld>

<div class="col-md-9 post-container">
    <div cg-busy="{promise:postPromise, message: 'Loading...', backdrop: true}">
        <ul class="featured-posts">
            <li>{{'home.featured_posts.heading' | translate }}</li>
            <li ng-repeat="featuredPost in featuredPosts track by $index">
                <a ui-sref="main.single({slug: featuredPost.slug})">{{::featuredPost.title}}</a>
            </li>
        </ul>
        <div ng-repeat="post in blogPosts track by $index" class="post">
            <div ng-if="helperUtils.isTag(post.tags, 'highlight')" class="highlight">
                {{::post.content}}
                <div class="published-date">{{::post.date_updated | date: "dd MMMM, yyyy"}}</div>
            </div>
            <div ng-if="!helperUtils.isTag(post.tags, 'highlight')">
                <div class="header-region">
                    <a ui-sref="main.single({slug: post.slug})"
                       analytics-on="click"
                       analytics-event="Clicked on {{post.title}}"
                       analytics-category="Navigation">
                        <h2>{{::post.title}}</h2>
                    </a>
                    <small class="published-date">{{::post.date_updated | date: "dd MMMM, yyyy" }}</small>
                </div>
                <div markdown data="post.content"></div>
            </div>
        </div>
    </div>
</div>
