@import './typography';

// form partial
@mixin simpleUnderline($borderWidth, $borderStyle, $borderColor) {
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: $borderWidth $borderStyle $borderColor;
  outline: 0 none;
  padding: 0;
}

@mixin borderStyle($borderWidth, $borderStyle, $borderColor, $borderRadius){
  border: $borderWidth $borderStyle $borderColor;
  border-radius: $borderRadius;
}

// formly fields
// validation messages
.my-messages {
  display: block;
  clear: both;
  color: red;
}

// hack for repeat section
.formly-repeatSection{
  min-height: 68px;
  max-height: 68px;
}

// ui-select overrides
.ui-select-container {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline: 0 none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: none transparent;
}

.ui-select-match-item {
  margin: 0 5px 5px 0;
}

.ui-select-choices {
  padding: 5px 0 0 5px;
  margin: -9px 0 0 0;
  border-radius: 0px;
}

// dropzone override
.dz-preview{
  float:left;
}
