// post styles
.masthead {
  position: absolute;
  z-index: -9;
  left: 0;
  height: 500px;
  background-size: cover;
  width: 100%;
  overflow: hidden;

  .title {
    top: 90%;
    color: #CCC;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.8em;
  }
}