<div ng-switch on="kind">
    <div ng-switch-when="single">
        <div class="post">
            <div class="single header-region">
                <h2>{{postData[0].title}}</h2>
                <div class="post-details">
                    <small class="date-updated">{{postData[0].date_updated | date: "dd MMMM, yyyy" }}</small>
                    <span class="patreon-message">{{'main.donate_patreon.message' | translate}}</span>
                </div>
            </div>
            <article markdown data="postData[0].content"></article>
        </div>
    </div>

    <div ng-switch-when="text">
        Text. {{kind}}
    </div>

</div>


